body{
  scroll-behavior: smooth;
  background-image: url('./images/bg1.png');
}
.heading{
  border-bottom: 1px solid grey;
}
.logo
{
  /* border: 2px solid black; */
  top: 0px;
  width: 50%;
  z-index: 10;
  /* visibility: hidden; */
}
.home
{
  display: flex;
  flex-direction: row;
}
.tagline{
  /* border: 3px solid black; */
  height: 30%;
  width: 50%;
  position: absolute;
  top: 300px;
  right: 0px;
  text-align: center;
}
.tagline h1{
  margin-bottom: 50px;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.header
{
  z-index: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  top: 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: fixed;
}
.header h1{
  margin-left: 30px;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loginbuttons{
  background-color: rgb(180, 180, 255);
  font-size: 20px;
  height: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbtns{
  /* border-bottom: 2px solid black; */
  /* border: 2px solid black; */
  position: absolute;
  right: 0px;
}
.navbtns button{
  height: 40px;
  border-radius: 25px;
  font-size: 18px;
  padding: 5px 20px;
}
.menubtns
{
  /* border: 2px solid black; */
  /* border-bottom: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  position: absolute;
  right: 242px;
  top: 20px;
  height: 47px;
}
.menubtns h3
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: 23px;
}
.menubtns h3:hover
{
  text-decoration: underline wavy;
}



.buttons
{
  padding-top: 40px;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  display: flex;
  align-items: center;
  height: 600px;
  width: 50%;
  flex-direction: column;
  /* border: 2px solid black; */
}
.buttons img{
  margin-top: 30px;
  height: 500px;
  width: 85%;
  border: 2px solid black;
}
.buttons img:hover
{
  transform: scale(1.05);
  border: 2px solid greenyellow;
}


.buttons h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons h5
{
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
.buttons h5:hover
{
  color: black;
}
.preview
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
  border: 2px solid black;
  height: 100%;
  width: 90%;
  z-index: 1;
  background-color: rgb(255, 251, 245)
}
.previewbox
{
  width: 100%;
  /* border: 2px solid red; */
}
.contact
{
  width: 64%;
  margin-left: 35px;
  /* border: 2px solid green; */
  display: inline-block;
  flex-direction: column;
  text-align: left;
}
.container
{
  position: relative;
  margin-top: 0px;
  /* border: 2px solid black; */
}
.rule{
  border-bottom: 1px solid black;
  width:80%;
}
.mobile{
  margin-top:-10px;
}
.email{
  margin-bottom: 0;
      
}
.tips
{
  margin: 100px auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.tips h1
{
  margin-bottom: 100px;
  top: 0px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tips h3
{
  color: rgb(0, 153, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tips p{
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
.tips strong
{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
<<<<<<< HEAD
.horiLine{
  border-bottom: 4px solid black;
  width: 98%;
  position: relative;
  top: -10px;
  margin: 0px;
  margin-left: 15px;
}
=======
>>>>>>> 5e30051893c0f3ffefa69b32e9d3926a2b33a7b1
